# === .NET ===
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncrunch*

# Rider & VS Code
.idea/
.vscode/

# ASP.NET secrets
*.pfx
*.snk
*.userprefs
secrets.json

# === Node / React ===
node_modules/
dist/
build/
.vite/

# Environment & config
.env
.env.local
.env.*.local

# === Log & temp ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# === Docker ===
**/inventory.db
docker-compose.override.yml
docker-volume/

# === Test coverage ===
coverage/
*.coverage
TestResults/
*.trx

# === OS ===
.DS_Store
Thumbs.db
